node_modules/**/*
./node_modules
.env
.DS_store
# ignore a file type 
*.json  
# add an exception (using !) to the preceding rule to track a specific file 
!package.json 
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
